@mixin size-box($height, $width) {
    height: $height;
    width: $width;
}

@mixin flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}