// Section: Colors
$color-background: #273c75; // Mazarine Blue
$color-selection: lighten($color-background, 50); // Mazarine Blue

$color-white: #f5f6fa; // Lynx White
$color-black: #2f3640; // Electromagnetic